 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 header {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: auto;
     background-color: rgb(59, 59, 63);
     z-index: 10;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .header_logo {
     width: 220px;
     height: 80px;
     margin: 0px 70px 0px 0px;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;

 }

 .header_logo h2 {
     font-size: larger;
 }

 .header_navbar ul {
     list-style: none;
     display: flex;
     justify-content: space-around;
     align-items: center;
 }

 .header_navbar ul li a {
     margin: 5px;
     color: gray;
     text-decoration: none;
 }

 .header_navbar ul li a:hover {
     color: white;
 }

 .grad_img {
     position: absolute;
     background-color: rgba(0, 0, 0, .5);
     width: 100%;
     height: 100%;
 }

 .grad_img div {
     bottom: 130px;
     right: 130px;
     text-align: end;
 }

 .oradores {
     margin-top: 25px;
     width: 100%;
     text-align: center;
 }

 .tarjetas {
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
 }

 .resaltado_js {
     max-width: max-content;
     padding: 0 5px;
     background-color: orange;
     font-weight: bold;
     font-size: x-small;
     border-radius: 3px;
     text-align: center;
 }

 .resaltado_r {
     max-width: max-content;
     padding: 0 5px;
     background-color: cadetblue;
     color: white;
     font-weight: bold;
     font-size: x-small;
     border-radius: 3px;
     text-align: center;
 }

 .resaltado_n {
     max-width: max-content;
     padding: 0 5px;
     background-color: gray;
     color: white;
     font-weight: bold;
     font-size: x-small;
     border-radius: 3px;
     text-align: center;
 }

 .resaltado_s {
     max-width: max-content;
     padding: 0 5px;
     background-color: red;
     color: white;
     font-weight: bold;
     font-size: x-small;
     border-radius: 3px;
     text-align: center;
 }

 .tarjetas p {
     font-size: x-small;
     line-height: 200%;
 }

 .octubre {
     display: flex;
     border: 1px solid white;
 }

 .texto_octubre {
     padding: 1.5%;
     background-color: rgb(59, 59, 63);
     color: white;
     text-align: left;
     border: 1px solid white;
 }

 footer {
     margin-top: 20px;
     width: 100%;
     height: auto;
     z-index: 2;
     display: flex;
     justify-content: center;
     align-items: center;
     background-color: #203f50;
 }

 .footer_navbar {
     width: 80%;
     height: auto
 }

 .footer_navbar ul {
     list-style: none;
     width: 100%;
     height: 80px;
     display: flex;
     justify-content: space-around;
     flex-wrap: wrap;
     align-items: center;
     font-size: small;
     padding: 15px;
 }

 .footer_navbar ul li a {
     margin: 4px;
     color: white;
     text-decoration: none;
 }

 .footer_navbar ul li a:hover {
     color: grey;
 }

 .descuentos {
     margin-top: 85px;
     width: 100%;
     display: flex;
     justify-content: center;
     flex-wrap: wrap;
     align-items: center;
     padding: 10px;
 }

 .estudiante {
     border: 1.5px solid blue;
     width: 200px;
     height: 200px;
     padding: 20px;
     margin: 5px;
     text-align: center;
 }

 .trainee {
     border: 1.5px solid green;
     width: 200px;
     height: 200px;
     padding: 20px;
     margin: 5px;
     text-align: center;
 }

 .junior {
     border: 1.5px solid red;
     width: 200px;
     height: 200px;
     padding: 20px;
     margin: 5px;
     text-align: center;
 }

 .venta {
     width: 100%;
     text-align: center;
 }